@charset "UTF-8";

.full {
    background: url('../image/project_main_img.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.blink {
animation: blink 0.5s infinite;
font-size: 2.5rem;
}
@keyframes blink {
    to {
        opacity: 0;
    }
}