<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../css/style.css">
        <script src="../../script/script_01.js"></script>
        <script type="text/javascript" src="../../script/jquery-1.11.3.min.js"></script>
    </head>
    <body>
        <div id="category" class="circle_border">
            <div class="cm_block main_color">
                <div class="cm_head">
                    <span>category</span>
                </div>
                <div class="cm_body">
                    <div class="cm_con">
                        <ul>
                            <li class="parent_category">
                                <div class="parent_category_name">
                                    <span>인공지능</span>
                                </div>
                            </li>
                            <li class="child_category">
                                <img src="image/spc.gif" width="1" height="1" alt class="listimage">
                                <div class="to_link">
                                    <a class="on" href="#">
                                        머신 러닝
                                    </a>
                                </div>
                            </li>
                            <li class="child_category">
                                <img src="image/spc.gif" width="1" height="1" alt class="listimage">
                                <div class="to_link">
                                    <a class="on" href="#">
                                        딥 러닝
                                    </a>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>